* {
    font-family: 'Share Tech Mono', monospace;
}

#board, .boardInfo {
    max-width: 500px;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: relative; /* Para poder posicionar el #gameOver dentro del board */
}

#gameOver {
    display: flex;
    position: absolute;
    top: 250px;
    height: 0px;
    width: 0px;
    margin-left: 250px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    color: white;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Para que se muestre sobre el tablero */
}

.boardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start {
    background-color: red;
    border: none;
    color: white;
    position: absolute;

    
}

#scoreBoard{
    display: inline-flex;
}

.square {
    aspect-ratio: 1;
}

.emptySquare{
    background-color: #456990;
}
.snakeSquare{
    background-color: #ccf47f;
}
.foodSquare{
    background-color: #f35a69;
}
